.card {
  width: 100%;
  max-width: 24rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  font-size: 1em;
  padding: 8px;
  background: #320064;
  border-style: none;
  color: white;
}
