.textbox-container {
  display: flex;
  flex-direction: column;

  p.error {
    color: red;
    margin: 0;
    font-size: 1em;
    text-align: left;
    max-width: 100%;
  }
}

.textbox {
  width: 100%;
  height: 46px;
  opacity: 0.9;
  box-shadow: 0.25em 0.25em 1em rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  padding: 0 1rem;
  border: double 3px transparent;
  border-radius: 23px;
  background-image:
    linear-gradient(white, white),
    linear-gradient(to bottom right, pink, white, skyblue);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  &.error {
    background-image:
      linear-gradient(white, white),
      linear-gradient(to bottom right, red, darkred);
  }
}
