.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.navbar {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  padding: 0.5em;
}

.icon {
  height: 2em;
  width: 2em;
}
