.field-set {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field {
  display: "flex";
  width: 100%;
  flex-direction: column;

  * {
    width: 100%;
  }
}

.fieldLabel {
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  line-height: 1.375;
}
