:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #320064;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #b86ebb;
  text-decoration: inherit;
}
a:hover {
  color: #974f9a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

h1 {
  font-family: "Lazy-Dog";
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 3px 3px #b86ebb, 6px 6px #70338c;
  transform: rotate(-8deg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #320064;
    background-color: #ffffff;
  }
  a {
    color: #70338c;
  }
  a:hover {
    color: #8b4ca7;
  }
}

@font-face {
  font-family: "Lazy-Dog";
  font-style: normal;
  src: local("Lazy-Dog"), url(/lazy_dog.ttf) format("truetype");
}
