:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-image: linear-gradient(#240019, #00031a);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (prefers-color-scheme: light) {
    color: #000;
    background-image: linear-gradient(#ff83d9, #71d4fe);
  }
}

#root {
  inset: 0;

  // TODO: Move all of this _elsewhere_.
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

p {
  max-width: 800px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  width: 100%;
  font-size: 1.5em;
  color: #c590f6;
  text-shadow: 2px 2px 3px #000;

  @media (prefers-color-scheme: light) {
    color: #340165;
    text-shadow: 2px 2px 3px #fff;
  }
}

a {
  background: #320064;
  border-radius: 10px;
  border-style: none;
  color: white;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  margin: 10px;
  padding: 8px;
  text-decoration: none;

  &:active {
    margin: 11px 9px 9px 11px;
  }

  @media (prefers-color-scheme: light) {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background-color: #b86ebb;

    &:hover {
      background-color: #70338c;
    }
  }
}

html {
  min-height: 100%;
}

body {
  min-width: 320px;
  height: 100%;
}

@font-face {
  font-family: "Lazy-Dog";
  font-style: normal;
  src:
    local("Lazy-Dog"),
    url(/lazy_dog.ttf) format("truetype");
}
