:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffff;
  background-image: linear-gradient(#ff83d9, #71d4fe);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  max-width: 800px;
}

a,
p {
  font-weight: 500;
  font-size: 1.5em;
  color: #340165;
  text-shadow: 2px 2px 3px #fff;
  text-decoration: inherit;
}
a:hover {
  color: #4e1c7f;
}
a:active {
  padding-left: 1px;
  padding-top: 1px;
  text-shadow: 1px 1px 3px #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

h1 {
  cursor: pointer;
  font-family: "Lazy-Dog";
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: -1px -1px #000, 3px 3px #b86ebb, 6px 6px #70338c;
  transform: rotate(-8deg);
  user-select: none;
  margin-bottom: 60px;
}

button {
  border-radius: 10px;
  font-size: 1em;
  margin: 10px;
  padding: 8px;
  background-image: linear-gradient(#014765, #660047);
  border-style: none;
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #320064;
    background-color: #ffffff;
  }
  a {
    color: #70338c;
  }
  a:hover {
    color: #8b4ca7;
  }
}

@font-face {
  font-family: "Lazy-Dog";
  font-style: normal;
  src: local("Lazy-Dog"), url(/lazy_dog.ttf) format("truetype");
}
